@charset "UTF-8";

div.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

div.caixa1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5; /*ou -1*/
    border: 2px solid black;
}

div.caixa2 {
    grid-row-start: 2;
    grid-row-end: 4; /*ou -1*/
    grid-column-start: 1;
    grid-column-end: 3;
    border: 2px solid red;
}

div.caixa3 {
    grid-row-start: 2;
    grid-row-end: 4; /*ou -1*/
    grid-column-start: 3;
    grid-column-end: 5; /*-1*/
    border: 2px solid blue;
}
