@charset "UTF-8";

img {
    max-width: 100%;
    display: block;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.galeria {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media (min-width: 400px) and (max-width: 700px) {
    .minmax img {
        order: 1;

    }
}