@charset "UTF-8";

body {
    color: seagreen;
}

a {
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    height: 200px;
    padding: 20px;
}

div {
    display: inline-block;
    border: 1px solid black;
    height: 200px;
    width: 100px;
    padding: 20px;
}