@charset "UTF-8";

body {
    margin: 0px;
}

nav {
    background-color: lightblue;
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

article {
    box-sizing: border-box;
    margin-left: 60px;
    padding: 20px;
    background-color: lightcoral;
    width: calc(100vw -75px);
}

p {
    margin-bottom: 400px;
}