@charset "UTF-8";

div.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.titulo {
    grid-column: 2 / -1;
    text-align: right;
}

.preco {
    align-self: start;
    justify-self: end;
}

/* Estilos Gerais */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1, p {
    margin: 0px;
}

h1 {
    font-size: 48px;
    line-height: 1em;
}

p, span {
    font-size: 20px;
}
a.comprar {
    text-decoration: none;
    background-color: #a8f;
    color: #103;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 20px;
}

.preco {
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}

img {
    max-width: 100%;
    border-radius: 4px;
}