@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

label {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}

input {
    font-size: 1.2rem;
    padding: 10px;
    /* border: 2px solid black;
    border-radius: 4px;
    background-color: #ccc; */
}

button {
    display: block;
    margin-top: 30px;
    background-color: #caf;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: #217;
    font-size: 1rem;
    cursor: pointer;
}


.checkbox, .radio {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.checkbox label, .radio label {
    margin: 0px;
    /* display: inline-block; */

}

.checkbox input, .radio input  {
    margin: 0px;
    width: 20px;
    height: 20px;
}