@charset "UTF-8";

[required] {
    border: 2px solid tomato;
}

[href^="#"] {
    background-color: aqua;
}

[href$=".com"] {
    background-color: yellowgreen;
}

section > h2 {
    color: tomato;
}

p {
    margin: 0px;
}

article {
    background-color: lightgreen;
    padding: 10px;
}

p + p {
    margin-top: 20px;
}

* {
    border: 2px solid blue;
}
