@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    /*background-color: black;
    background-image: url('imagens/fundo-madeira.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/

    background: black url('../imagens/fundo-madeira.jpg') center center no-repeat fixed;

    background-size: cover;
}

main{
    position: relative;
    min-height: 100vh;  
}

main nav {
    position: absolute;
    top: 5%;
    right: 0;
}

main nav img {
    margin-bottom: 30px;
    margin-right: 20px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
}

main > #tela {
    display: block;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
}

main iframe {  
    width: 270px;
    height: 476.55px;

    box-shadow: 0px 0px 1px 2px rgba(9, 1, 1, 0.274);
}

