@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Desktop: 993px até 1200px
Grandes telas: acima de 1201px 
*/

/* Versão para tablet: */
@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
        height: 290px;
    }

    section#login > div#imagem {
        float: left; /*técnicas como gris layout e flexbox seriam melhores para esse caso*/
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right; /*técnicas como gris layout e flexbox seriam melhores para esse caso*/
        width: 70%;
    }
}

/*Versão prara desktop e telas grandes */
@media screen and (min-width: 993px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right; /*técnicas como gris layout e flexbox seriam melhores para esse caso*/
        width: 50%;
        height: 100%;     
    }

    section#login > div#formulario {
        float: left; /*técnicas como gris layout e flexbox seriam melhores para esse caso*/
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}