@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

h1 {
    text-align: center;
}

div.item {
    background-color: #111;
    border-radius: 4px;
    color: white;
    margin: 20px;
    padding: 30px;
}

div.item p{
    margin: 15px 0px;
    color: #b2b2b2;;
}

div.item span, strong {
    color: #febe01;
}

div.item a {
    background-color: #febe01;
    color: #332200;
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

