@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --cor-fonte01: black;
    --cor-fonte02: white;
    --fundo01: black;
    --fundo02: white;
    --fundo03: rgba(0, 0, 0, 0.562);
    --fundo-padrao: rgb(189, 189, 183);
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-destaque: "Passion One", sans-serif;
    --fonte-elegante: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: var(--fundo-padrao);
    min-height: 100vh; /* ou min-height: 100%;*/
}

header {
    background-color: var(--fundo01);
    color: var(--cor-fonte02);
    font-family: var(--fonte-padrao);
    text-align: center;
    font-weight:lighter;
    min-height: 160px; 
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-weight:bold;
    font-variant-caps: small-caps;  /*font-variant-caps é a versão mais avançada e específica da propriedade font-variant*/
    font-size: 10vw; 
    padding-top: 50px;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: var(--cor-fonte02);
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration:underline;
}

main section#imagem01 {
    /*
    background-color: var(--fundo-padrao);
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/

    background: var(--fundo-padrao) url('imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover;   
}

main section#imagem02 {
    /*
    background-color: var(--fundo-padrao);
    background-image: url('imagens/background002.jpg');
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: fixed;*/

    background: var(--fundo-padrao) url('imagens/background002.jpg') center left no-repeat fixed;
    background-size: cover;
}

main div {
    padding: 50px;
    min-height: 200px;
}

main div.fundo-branco {
    background-color: var(--fundo02);   
}

main div.fundo-branco2 {
    background-color: var(--fundo02);
    padding-bottom: 0px;
}

main div.fundo-colorido {
    padding: 100px 50px;
}

main div p {
    color: var(--cor-fonte02);
    font-family: var(--fonte-elegante);
    line-height: 2em;
    font-size: 3.5vw;
    border-radius: 5px;

    max-width: 48vw;
    padding: 5px;
}

main div.fundo-branco p {
    color: var(--cor-fonte01);
    max-width: 60vw;
}

main div.fundo-branco2 p {
    color: var(--cor-fonte01);
    max-width: 60vw;
}

main div.fundo-colorido p {
    background-color: var(--fundo03);
    text-shadow: 1px 1px 1px black;
    max-width: 42vw;
}

footer {
    background-color: var(--fundo01);
    color: var(--cor-fonte02);
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 10px;
}