@charset "UTF-8";

/* Estilo para impressoras */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none; /*significa que NÃO será exibido */
}

article::after{
    content: "Esse artigo foi impresso através do site www.cursoemvideo.com";
}

article{
    max-width: 100vw; /* ou max-width: 100%; */
}