@charset "UTF-8";

div.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

div.caixa1 {
    border: 2px solid black;
    grid-area: 1 / 1 / span 1 / span 4;
}

div.caixa2 {
    border: 2px solid red;    
    grid-area: 2 / 1 / span 2 / span 2;
}

div.caixa3 {
    border: 2px solid blue;
    grid-area: 2/3/4/5;
}
